/***************  By: Michael Turner   ********************/
/***************  Date: Feb.22.2016    *********************/
/***************  The Turner Grid CSS  *******************/
html {
	font-family: 'Roboto','Open Sans',sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

/********************** Container Styles *************************************/
.container,
.container-fw {
	margin-left:auto;
	margin-right:auto;
	padding-right:15px;
	padding-left:15px;	
}
.row-wrapper {
	margin-left:-15px;
	margin-right:-15px;		
}
.row-wrapper:before,
.row-wrapper:after {
	display:table;
	content:" ";
}
.row-wrapper:after {
	clear:both;
}
.row-wrapper-adaptive {
	overflow: hidden;	
	column-gap: 15px;
	column-fill: auto;	
	margin-top: 15px;
	margin-bottom:15px;
	margin-right:-15px;
	margin-left:-15px;
}
@media only screen and (max-width:3000px){
	.container,
	.nav-container{
		width:1600px;
	}
}
@media only screen and (max-width:1700px){
	.container,
	.nav-container{
		width:1400px;
	}
}
@media only screen and (max-width:1500px){
	.container,
	.nav-container{
		width:1200px;
	}
}
@media only screen and (max-width:1300px){
	.container,
	.nav-container{
		width:1000px;
	}
}
@media only screen and (max-width:1050px){
	.container ,
	.nav-container{
		width:900px;
	}
}
@media only screen and (max-width:950px){
	.container,
	.nav-container	{
		width:100%;
		padding:0px;
	}
	.row-wrapper {
		margin-left:0px;
		margin-right:0px;
	}
	.row-wrapper-adaptive {
		padding-left:15px;
		padding-right:15px;
		margin-left:0px;
		margin-right:0px;
	}
}
/************************ End Container Styles **********************************/

/************************* Column Styles ****************************************/
.col-1, .col-2, .col-3, .col-4,
.col-5, .col-6, .col-7, .col-8,
.col-9, .col-10, .col-11, .col-12 
{
	position:relative;	
	float:left;
}
.col-1 {
	width:8.333%;
}
.col-2 {
	width:16.666%;
}
.col-3 {
	width:25%;
}
.col-4 {
	width:20%;
}
.col-5 {
	width:41.666%;
}
.col-6 {
	width:50%;
}
.col-7 {
	width:58.333%;
}
.col-8 {
	width:66.666%;
}
.col-9 {
	width:75%;
}
.col-10 {
	width:83.333%;
}
.col-11 {
	width:91.666%;
}
.col-12 {
	width:100%;
}
.col-2-adaptive {
	-webkit-column-count: 2;
	-webkit-column-gap: 15px;
	-webkit-column-fill: auto;
	-moz-column-count: 2;
	-moz-column-gap: 15px;
	-moz-column-fill: auto;
	column-count: 2;
}
.col-3-adaptive {
	-webkit-column-count: 3;
	-webkit-column-gap: 15px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 15px;
	-moz-column-fill: auto;
	column-count: 3;
}
.col-4-adaptive {
	-webkit-column-count: 4;
	-webkit-column-gap: 15px;
	-webkit-column-fill: auto;
	-moz-column-count: 4;
	-moz-column-gap: 15px;
	-moz-column-fill: auto;
	column-count: 4;
}
.col-5-adaptive {
	-webkit-column-count: 5;
	-webkit-column-gap: 15px;
	-webkit-column-fill: auto;
	-moz-column-count: 5;
	-moz-column-gap: 15px;
	-moz-column-fill: auto;
	column-count: 5;
}
.col-6-adaptive {
	-webkit-column-count: 6;
	-webkit-column-gap: 15px;
	-webkit-column-fill: auto;
	-moz-column-count: 6;
	-moz-column-gap: 15px;
	-moz-column-fill: auto;
	column-count: 6;
}
.col-adaptive {
	margin-bottom: 15px;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
}


@media only screen and (max-width:950px){
	.col-1, .col-2, .col-3, .col-4,
	.col-5, .col-6, .col-7, .col-8,
	.col-9, .col-10, .col-11, .col-12
	{
		width:100%;
		padding:0px;
	}
	.col-2-adaptive, .col-3-adaptive, .col-4-adaptive,
	.col-5-adaptive, .col-6-adaptive 
	{
		-webkit-column-count: 2;
		-webkit-column-gap: 15px;
		-webkit-column-fill: auto;
		-moz-column-count: 2;
		-moz-column-gap: 15px;
		-moz-column-fill: auto;
		column-count: 2;
	}
}

/********************** Pull Querries *******************************/
@media only screen and (min-width:950px){
	.pull-1 {
		right:8.333%;
	}
	.pull-2 {
		right:16.666%;
	}
	.pull-3 {
		right:25%;
	}
	.pull-4 {
		right:33.333%;
	}
	.pull-5 {
		right:41.666%;
	}
	.pull-6 {
		right:50%;
	}
	.pull-7 {
		right:58.333%;
	}
	.pull-8 {
		right:66.666%;
	}
	.pull-9 {
		right:75%;
	}
	.pull-10 {
		right:83.333%;
	}
	.pull-11 {
		right:91.666%;
	}
	.pull-12 {
		right:100%;
	}	
}

/********************** Push Querries *******************************/
@media only screen and (min-width:950px){
	.push-1 {
		left:8.333%;
	}
	.push-2 {
		left:16.666%;
	}
	.push-3 {
		left:25%;
	}
	.push-4 {
		left:33.333%;
	}
	.push-5 {
		left:41.666%;
	}
	.push-6 {
		left:50%;
	}
	.push-7 {
		left:58.333%;
	}
	.push-8 {
		left:66.666%;
	}
	.push-9 {
		left:75%;
	}
	.push-10 {
		left:83.333%;
	}
	.push-11 {
		left:91.666%;
	}
	.push-12 {
		left:100%;
	}	
}
/********************************* End of Column Styles ***********************************/


/************************ Navigation Styles ************************************/
.nav-wrapper,
.nav-container {
	height:60px;
}
.nav-wrapper {
	width:100%;
	margin-bottom:10px;
}
.nav-container {
	margin-left:auto;
	margin-right:auto;
}
.collapse-nav {
	float:left;
	margin-right:10px;
	margin-left:10px;
	width:25px;
	height:100%;
	cursor:pointer;
	display:none;
}
.collapse-nav > p:first-child {
	margin-top:20px;
}
.collapse-nav > p {
	height:3px;	
	background-color:#fff;
	margin:0px;
	margin-bottom:3px;	
}
.nav-logo  {
	float:left;
	padding:5px;
}
.nav-items {
	float:left;
}
.nav-items  > ul{
	list-style-type:none;
	color:#252528;
}
.nav-items  > ul > li{
	display:inline-block;
	padding-left:10px;
	padding-right:10px;
}

@media only screen and (max-width:950px){
	.nav_container{
		width:100%;
	}
	.nav-items {
		display:none;
		clear:both;
		width:100%;
	}
	.nav-items-toggle {
		display:block;
	}
	.nav-items  > ul {
		text-align:center;
		margin-top:0px;
		padding-left:0px;
		background-color:#f2f2f2;
	}
	.nav-items  > ul > li{
		display:block;
		padding-bottom:5px;
		padding-top:5px;
		border-bottom:1px solid #ccc;		
	}
	.nav-items > ul > li:hover {
		background-color:#5d646c;
		color:#fff;
		cursor:pointer;
	}
	
	.collapse-nav {
		display:block;
	}	
	.nav-logo > img {
		margin-left:auto;
		margin-right:auto;
	}
}

/*************************** End of Navigation Styles **************************/






/********************************** Button Styles *********************************/
.btn {		
	background-image:none;
	border:1px solid transparent;
	display:inline-block;
	border-radius:8px;
	font-family:'Roboto','Open Sans',sans-serif;
	font-size:14px;
	font-weight:400;
	cursor:pointer;
	padding:10px 15px;
	text-decoration:none;
}
.btn:hover, .btn:active, .btn:visited {
	border:1px solid transparent;
}
.btn-blue {
	background-color:#005f95;
	color:#fff;	
}
.btn-red {
	background-color:#e0201b;
	color:#fff;	
}
.btn-yellow {
	background-color:#ffd900;
	color:#000;	
}
.btn-orange {
	background-color:#ff5f00;
	color:#000;	
}
.btn-pink {
	background-color:#d30053;
	color:#fff;	
}
.btn-pink2 {
	background-color:#dd2695;
	color:#000;	
}
.btn-purple {
	background-color:#4d008a;
	color:#fff;	
}
.btn-blue2 {
	background-color:#0081c8;
	color:#fff;	
}
.btn-green {
	background-color:#1b881b;
	color:#fff;	
}
.btn-green2 {
	background-color:#004a00;
	color:#fff;	
}
.btn-gray {
	background-color:#5d646c;
	color:#fff;	
}
.btn-gray2 {
	background-color:#252528;
	color:#fff;	
}
/********************************** End of Button Styles ************************************/


/********************************** Text Styles *********************************************/
.super-header {
	font-weight:600;
	font-size:50px;
	margin:0px;
	padding-top:15px;
	padding-bottom:15px;
	color:#000;
}
.super-header-fine {
	font-weight:400;
	font-size:50px;
	margin:0px;
	padding-top:15px;
	padding-bottom:15px;
	color:#000;
}

h1,h2,h3,h4,h5 {
  font-weight:600;
}
p {
	font-size:16px;
	line-height:1.5;
	font-weight:300;
	font-family:'Roboto','Open Sans',sans-serif;
	margin-bottom:15px;
	color:#5d646c;
}
.quote-left {
	float:left;
	max-width:350px;
	color:#5d646c;
	margin-right:40px;
	font-size:20px;
	border-left:3px solid #0081c8;
	padding-left:15px;
	text-align:left;	
}
.quote-right {
	float:right;
	max-width:350px;
	color:#5d646c;
	margin-left:40px;
	font-size:20px;
	border-right:3px solid #0081c8;
	padding-right:15px;
	text-align:right;
}
img {
	display:block;
	max-width:100%;
	height:auto;
}
/******************************** End of Text Styles *****************************************/

/********************************* Table Styles **********************************************/
table {
	width:100%;
	max-width:100%;
}
.table-striped > thead > tr > th {
	text-align:left;
	vertical-align:bottom;
	border-bottom:2px solid #ccc;
	padding:10px;
}
.table-striped > tbody > tr:nth-child(2n) {
	background-color:#eee;
}
.table-striped > tbody > tr  > td {
	padding:10px;	
}
